{% style %}

    [data-section-id="{{ section.id }}"] {
        background-color: {{ section.settings.background_color }};
    }

    [data-section-id="{{ section.id }}"] .content-area {
        padding:{{ section.settings.padding_top }}% {{ section.settings.padding_right }}% {{ section.settings.padding_bottom }}% {{ section.settings.padding_left }}%;
    }

    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'button' %}
                [data-block-id="{{ block.id }}"].theme-button {
                    color: {{ block.settings.button_text_color }}; 
                    background-color: {{ block.settings.button_bg_color }} 
                }
                [data-block-id="{{ block.id }}"].theme-button:hover {
                    background-color: {{ block.settings.button_hover_bg_color }};
                }
            {% when 'h2' %}
                [data-section-id="{{ section.id }}"] h2 {
                    font-size: {{ block.settings.font_size_d }}px;
                }
                @media screen and (max-width: 768px) {
                    [data-section-id="{{ section.id }}"] h2 {
                        font-size: {{ block.settings.font_size_m }}px;
                    }
                }
            {% when 'h3' %}
                [data-section-id="{{ section.id }}"] h3 {
                    font-size: {{ block.settings.font_size_d }}px;
                }
                @media screen and (max-width: 768px) {
                    [data-section-id="{{ section.id }}"] h3 {
                        font-size: {{ block.settings.font_size_m }}px;
                    }
                }
        {% endcase %}

    {% endfor %}

{% endstyle %}

<div data-section-id="{{ section.id }}">
    <div class="jr-5050  jr-section {{ section.settings.col_order }} page-width">
        <div class="col {{ section.settings.text_alignment }} content-area">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'h2' %}
                        <h2>{{ block.settings.h2 }}</h2>
                    {% when 'h3' %}
                        <h3>{{ block.settings.h3 }}</h3>
                    {% when 'p' %}
                        <p>{{ block.settings.p }}</p>
                    {% when 'button' %}
                        <a 
                            data-block-id="{{ block.id }}"
                            class="theme-button" 
                            href="{{ block.settings.button_url }}"
                            >
                            {{ block.settings.button_text }}
                        </a>
                {% endcase %}
            {% endfor %}
        </div>
        <div class="col">
            <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt | default: '' | escape }}">
        </div>
    </div>
</div>

{% schema %}
{
  "name": "JR 50/50",
  "settings": [
    {
        "type": "color",
        "id": "background_color",
        "label": "Background Color",
        "default": "#ffffff"
    },
    {
        "type": "select",
        "id": "col_order",
        "label": "Column Order",
        "default": "",
        "options": [
            {
                "value": "reverse",
                "label": "Image First"
            },
            {
                "value": "",
                "label": "Image Second"
            }
        ]
    },
    {
        "type": "select",
        "id": "text_alignment",
        "label": "Text Alignment",
        "default": "center-aligned",
        "options": [
            {
                "value": "left-aligned",
                "label": "Left Aligned"
            },
            {
                "value": "center-aligned",
                "label": "Center Aligned"
            },
            {
                "value": "right-aligned",
                "label": "Right Aligned"
            }
        ]
    },
    {
        "type": "image_picker",
        "id": "image",
        "label": "Section Image"
    },
    {
        "type": "range",
        "id": "padding_left",
        "label": "Inner Content Padding % (left)",
        "max": 100,
        "min": 0,
        "step": 1,
        "default": 5
    },
    {
        "type": "range",
        "id": "padding_right",
        "label": "Inner Content Padding % (right)",
        "max": 100,
        "min": 0,
        "step": 1,
        "default": 5
    },
    {
        "type": "range",
        "id": "padding_top",
        "label": "Inner Content Padding % (top)",
        "max": 100,
        "min": 0,
        "step": 1,
        "default": 5
    },
    {
        "type": "range",
        "id": "padding_bottom",
        "label": "Inner Content Padding % (bottom)",
        "max": 100,
        "min": 0,
        "step": 1,
        "default": 5
    }
  ],
  "blocks": [
    {
        "type": "h2",
        "name": "H2",
        "settings": [
            {
                "type": "richtext",
                "id": "h2",
                "label": "H2 Text"
            },
            {
                "type": "range",
                "min": 12,
                "max": 64,
                "step": 2,
                "id": "font_size_d",
                "label": "Font Size Desktop",
                "default": 24    
            },
            {
                "type": "range",
                "min": 10,
                "max": 64,
                "step": 2,
                "id": "font_size_m",
                "label": "Font Size Mobile",
                "default": 14
            }
        ]
    },
    {
        "type": "h3",
        "name": "H3",
        "settings": [
            {
                "type": "richtext",
                "id": "h3",
                "label": "H3 Text"
            },
            {
                "type": "range",
                "min": 12,
                "max": 64,
                "step": 2,
                "id": "font_size_d",
                "label": "Font Size Desktop",
                "default": 24    
            },
            {
                "type": "range",
                "min": 10,
                "max": 64,
                "step": 2,
                "id": "font_size_m",
                "label": "Font Size Mobile",
                "default": 14
            }
        ]
    },
    {
        "type": "p",
        "name": "Paragraph",
        "settings": [
            {
                "type": "richtext",
                "id": "p",
                "label": "Paragraph Text"
            }
        ]
    },
    {
        "type": "button",
        "name": "Button",
        "settings": [
            {
                "type": "text",
                "id": "button_text",
                "label": "button text",
                "default": "Click Me"
            },
            {
                "type": "url",
                "id": "button_url",
                "label": "Button url"
            },
            {
                "type": "color",
                "id": "button_bg_color",
                "label": "Button Background Color",
                "default": "#000000"    
            },
            {
                "type": "color",
                "id": "button_text_color",
                "label": "Button Text Color",
                "default": "#ffffff"
            },
            {
                "type": "color",
                "id": "button_hover_bg_color",
                "label": "Button Hover Background Color",
                "default": "#7F9BA9"
            }
        ]

    }
  ],
  "presets": [
    {
        "name": "JR 50/50"
    }
  ]
}
{% endschema %}