{% style %}
    [data-section-id="{{ section.id }}"] {
        background-color: {{ section.settings.background_color }};
        {% if request.page_type == "collection" %}
            /* display: none !important; */
        {% endif %}
    }

    [data-section-id="{{ section.id }}"] .jr-find-your-shoe {
        background-color: {{ section.settings.inner_background_color }};
    }

    [data-section-id="{{ section.id }}"] h4,
    [data-section-id="{{ section.id }}"] h5 {
        color: {{ section.settings.text_color }};
    }

{% endstyle %}

<div data-section-id="{{ section.id }}" class="{{ section.settings.ab_test_class }}">
    <div class="page-width jr-section">
        <div class="jr-find-your-shoe">
            {% if section.settings.title %}
                <div class="header-container">
                    <div class="text-container">
                        <h4>{{ section.settings.title }}</h4>
                        {% if section.settings.subtitle %}
                            <h5>{{ section.settings.subtitle }}</h5>
                        {% endif %}
                    </div>
                    {% if section.settings.image %}
                        <img class="mobile" src="{{ section.settings.image |  image_url: width: 400 }}" alt="G-Defy Icon">
                    {% endif %}
                </div>

            {% endif %}
            <div class="form-container"></div>
            
            {% if section.settings.image %}
                <img class="desktop" src="{{ section.settings.image |  image_url: width: 400 }}" alt="G-Defy Icon">
            {% endif %}
        </div>
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', async () => {

        {% if request.page_type == "page" %}
            try {
                const response = await fetch('https://www.gravitydefyer.com/collections/all')
                const html = await response.text()
                const parser = new DOMParser()
                const doc = parser.parseFromString(html, 'text/html')
                const section = doc.querySelector('.jr-find-your-shoe-target.hidden')

                if (section) {
     
                    document.querySelector('[data-section-id="{{ section.id }}"] .form-container').appendChild(section)
                    section.classList.remove('hidden');

                    const button = section.querySelector('.form-container button')
                    const allSelects = section.querySelectorAll('.form-container select')
                    let isValid = false

                    allSelects.forEach((select) => {
                        select.addEventListener('change', (e) => {
                            console.log('Changing select')
                            for (let i = 0; i < allSelects.length; i++) {
                                if (allSelects[i].value === '' && allSelects[i].required) return
                            }
                            button.removeAttribute('disabled');
                            button.querySelector('.button-text').innerText = "{{ section.settings.button_text }}"
                            isValid = true;
                        });
                    });

                    button.addEventListener('click', (e) => {
                        e.preventDefault()
                        applyFilters()
                    });
                }
            } catch (error) {
                console.error('Error fetching data:', error)
            }
        {% endif %}



        function applyFilters() {
            const filterForm = document.querySelector('[data-section-id="{{ section.id }}"] form')
            const formData = new FormData(filterForm)
            const searchParams = new URLSearchParams(formData).toString()
            window.location.href =  `/collections/all${searchParams && '?'.concat(searchParams)}`
        }

    })
</script>

{% schema %}
    {
        "name": "JR Find Your Shoe",
        "presets": [
            {
                "name": "JR Find Your Shoe"
            }
        ],
        "settings": [
            {
                "type": "text",
                "id": "ab_test_class",
                "label": "AB Test Class"   
            },
            {
                "type": "color",
                "id": "background_color",
                "label": "Background Color",
                "default": "#ffffff"
            },
            {
                "type": "color",
                "id": "inner_background_color",
                "label": "Background Color",
                "default": "#c2dae1"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text color",
                "default": "#003D59"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title (optional)",
                "default": "Header Text"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subtitle (optional)"
            },
            {
                "type": "text",
                "id": "button_text",
                "label": "Button Text",
                "default": "Get Started"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Optional Icon Image"
            }
        ],
        "blocks": []
    }
{% endschema %}
