{{ 'jr-hp-hero.css' | asset_url | stylesheet_tag }}

{% liquid  

    assign overlay_string = ''

    if section.settings.image_overlay_opacity == 0
            assign overlay_string = '0'
        elsif section.settings.image_overlay_opacity == 100
            assign overlay_string = '1'
        else 
            assign percent = section.settings.image_overlay_opacity | divided_by: 10
            assign overlay_string = '0.' | append: percent
    endif 

-%}

{% style %}

[data-section-id="{{ section.id }}" ] {
    background-color: {{ section.settings.bg_color }};
}

[data-section-id="{{ section.id }}" ] .jr-hp-hero {
    max-width: 2000px;
    margin: 0 auto;
    aspect-ratio: {{ section.settings.desktop_img.width }} / {{ section.settings.desktop_img.height }} ;
}

[data-section-id="{{ section.id }}" ] .content-container {
    top: {{ section.settings.top_alignment_d }}%;
}

[data-section-id="{{ section.id }}" ] .abs-pos-text {
    position: absolute;
    z-index: 2;
    color: {{ section.settings.abs_pos_text_color }};

    {% if section.settings.abs_pos_y_desktop == 'top' %}
        top: 6%;
    {% endif %}

    {% if section.settings.abs_pos_y_desktop == 'bottom' %}
        bottom: 6%;
    {% endif %}

    {% if section.settings.abs_pos_x_switch == "left" %}
            left: {{ section.settings.abs_pos_x_value }}%;
        {% else %}
            right: {{ section.settings.abs_pos_x_value }}%;
    {% endif %}

}

@media screen and (max-width: 768px) {
    [data-section-id="{{ section.id }}" ] .content-container {
        position: absolute;
        justify-content: start;
        top: {{ section.settings.top_alignment_m }}%;
    }
    [data-section-id="{{ section.id }}" ] .jr-hp-hero {
        aspect-ratio: 16/9;   
    }
    [data-section-id="{{ section.id }}" ] .abs-pos-text {

        left: 50%;
        transform: translateX(-50%);

        {% if section.settings.abs_pos_y_mobile == 'top' %}
            top: 10%;
        {% endif %}

        {% if section.settings.abs_pos_y_mobile == 'bottom' %}
            bottom: 10%;
        {% endif %}
    }
}

{% endstyle %}

<div data-section-id="{{ section.id }}">
    <div class="jr-hp-hero jr-section">

        {% if section.settings.abs_pos_text != blank %}
            <p class="abs-pos-text">{{ section.settings.abs_pos_text }}</p>
        {% endif %}

        {% unless overlay_string == '0' %}
            <div class="image-overlay" style="background-color: rgba(0, 0, 0, {{ overlay_string }});" data-test="{{ section.settings.overlay_string }}" ></div>
        {% endunless %}
        <div class="content-container">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'header' %}

                        {% style %}

                            [data-block-id="{{ block.id }}" ] h1,
                            [data-block-id="{{ block.id }}" ] h2,
                            [data-block-id="{{ block.id }}" ] h3,
                            [data-block-id="{{ block.id }}" ] h4,
                            [data-block-id="{{ block.id }}" ] h5,
                            [data-block-id="{{ block.id }}" ] h6,
                            [data-block-id="{{ block.id }}" ] p,
                            [data-block-id="{{ block.id }}" ] a {
                                color: {{ block.settings.text_color }};
                            }
                        {% endstyle %}
                        
                        <div data-block-id="{{ block.id }}" style="margin-top:{{ block.settings.margin_top }}px; margin-bottom:{{ block.settings.margin_bottom }}px;" 
                            class="section-header"
                            >{{ block.settings.header }}
                        </div>
                    {% when 'subheader' %}
                        <div 
                            style="color:{{ block.settings.text_color }}; margin-top:{{ block.settings.margin_top }}px; margin-bottom:{{ block.settings.margin_bottom }}px;"
                            class="section-subheader"
                            >{{ block.settings.subheader }}
                        </div>
                {% endcase %}
            {% endfor %}
            {% if section.settings.stars_text != blank %}
                <div class="star-review-container">
                     {% if section.settings.stars_img != blank %}
                         <img src="{{ section.settings.stars_img |  img_url: 'master' }}" alt="Stars" class="stars">
                     {% endif %}
                     <div class="stars-text" style="color: {{ section.settings.stars_text_color }};">{{ section.settings.stars_text }}</div>
                </div>
             {% endif %} 
            <div class="button-container">
                {% for block in section.blocks %}
                    {% if block.type == "button" %}
                            <a 
                                style="color:{{ block.settings.button_text_color }}; background-color:{{ block.settings.button_bg_color }}; margin-top:{{ block.settings.margin_top }}px; margin-bottom:{{ block.settings.margin_bottom }}px;"
                                href="{{ block.settings.button_link }}" 
                                class="hero-btn btn theme-button"
                                >{{ block.settings.button_text }}
                            </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <img src="{{ section.settings.mobile_img |  img_url: 'master' }}" alt="Hero image" class="mobile hero-image">
        <img src="{{ section.settings.desktop_img |  img_url: 'master' }}" alt="Hero image" class="desktop hero-image">
    </div>
</div>

{% schema %}
{
    "name": "JR LP Hero",
    "settings": [
        {
            "type": "color",
            "id": "bg_color",
            "label": "Section Background Color"
        },
        {
            "type": "image_picker",
            "id": "desktop_img",
            "label": "Deskop Image"   
        },
        {
            "type": "image_picker",
            "id": "mobile_img",
            "label": "Mobile Image"   
        },
        {
            "type": "range",
            "step": 10,
            "id": "image_overlay_opacity",
            "label": "Image Overlay Opacity (%)",
            "min": 0,
            "max": 100,
            "default": 20
        },
        {
            "type": "header",
            "content": "Alignment settings"
        },
        {
            "type": "number",
            "id": "top_alignment_d",
            "label": "Spacing from the top of the page (desktop)",
            "default": 15
        },
        {
            "type": "number",
            "id": "top_alignment_m",
            "label": "Spacing from the top of the page (m)",
            "default": 15
        },
        {
            "type": "text",
            "id": "stars_text",
            "label": "Stars Text",
            "default": "Based on 50,000+ reviews"
        },
        {
            "type": "color",
            "id": "stars_text_color",
            "label": "Stars Text Color",
            "default": "#FFFFFF"
        },
        {
            "type": "image_picker",
            "id": "stars_img",
            "label": "Stars Image"
        },
        {
            "type": "header",
            "content": "Absolute Positionin Words Settings"
        },
        {
            "type": "text",
            "id": "abs_pos_text",
            "placeholder": "Absolute Position Text",
            "label": "Absolute Position Text"
        },
        {
            "type": "color",
            "id": "abs_pos_text_color",
            "label": "Absolute Position Text Color",
            "default": "#FFFFFF"
        },
        {
            "type": "select",
            "id": "abs_pos_x_switch",
            "label": "Absolute Position X Switch",
            "options": [
                {
                    "value": "left",
                    "label": "Left"
                },
                {
                    "value": "right",
                    "label": "Right"
                }
            ],
            "default": "left"
        },
        {
            "type": "number",
            "id": "abs_pos_x_value",
            "label": "Absolute Position position value (desktop)",
            "default": 50
        },
        {
            "type": "select",
            "id": "abs_pos_y_desktop",
            "label": "Absolute Position Y Desktop",
            "options": [
                {
                    "value": "top",
                    "label": "Top"
                },
                {
                    "value": "bottom",
                    "label": "Bottom"
                }
            ],
            "default": "top"
        },
        {
            "type": "select",
            "id": "abs_pos_y_mobile",
            "label": "Absolute Position Y Mobile",
            "options": [
                {
                    "value": "top",
                    "label": "Top"
                },
                {
                    "value": "bottom",
                    "label": "Bottom"
                }
            ],
            "default": "top"
        }
    ],
    "blocks": [
        {
            "type": "header",
            "name": "Header",
            "limit": 1,
            "settings": [
                {
                    "type": "richtext",
                    "id": "header",
                    "label": "Header Text"
                },
                {
                    "type": "color",
                    "id": "text_color",
                    "label": "Header Color",
                    "default": "#FFFFFF"
                },
                {
                    "type": "number",
                    "id": "margin_top",
                    "label": "Margin Top",
                    "default": 0
                },
                {
                    "type": "number",
                    "id": "margin_bottom",
                    "label": "Margin bottom",
                    "default": 0
                }
            ]
        },
        {
            "type": "subheader",
            "name": "Subheader",
            "limit": 1,
            "settings": [
                {
                    "type": "richtext",
                    "id": "subheader",
                    "label": "Subheader Text"
                },
                {
                    "type": "color",
                    "id": "text_color",
                    "label": "Subheader Color",
                    "default": "#FFFFFF"
                },
                {
                    "type": "number",
                    "id": "margin_top",
                    "label": "Margin Top",
                    "default": 0
                },
                {
                    "type": "number",
                    "id": "margin_bottom",
                    "label": "Margin bottom",
                    "default": 0
                }
            ]
        },
        {
            "type": "button",
            "name": "Button",
            "settings": [
                {
                    "type": "text",
                    "id": "button_text",
                    "label": "Button Text",
                    "default": "Button Text"
                },
                {
                    "type": "color",
                    "id": "button_text_color",
                    "label": "Button Text Color",
                    "default": "#FFFFFF"
                },
                {
                    "type": "url",
                    "id": "button_link",
                    "label": "Button Link"
                },
                {
                    "type": "color",
                    "id": "button_bg_color",
                    "label": "Button Background Color",
                    "default": "#1e4845"
                },
                {
                    "type": "number",
                    "id": "margin_top",
                    "label": "Margin Top",
                    "default": 0
                },
                {
                    "type": "number",
                    "id": "margin_bottom",
                    "label": "Margin bottom",
                    "default": 0
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "JR Hero"
        }
    ]
}
{% endschema %}