{% style %}

    [data-section-id="{{ section.id }}"] {
        background-color: {{ section.settings.outer_background_color }};
    }

    [data-section-id="{{ section.id }}"] .jr-product-info-carousel {
        background-color: {{ section.settings.inner_section_background_color }};
    }

    [data-section-id="{{ section.id }}"] .collection-nav {
        /* border-bottom: 1px solid {{ section.settings.text_color }}; */
    }

    [data-section-id="{{ section.id }}"] h3 ,
    [data-section-id="{{ section.id }}"] p,
    [data-section-id="{{ section.id }}"] li,
    [data-section-id="{{ section.id }}"] .price,
    [data-section-id="{{ section.id }}"] .compare-price,
    [data-section-id="{{ section.id }}"] .description-area,
    [data-section-id="{{ section.id }}"] .activity-tags {
        color: {{ section.settings.text_color }} !important;
    }
    [data-section-id="{{ section.id }}"] .jr-product-info-carousel .toggleContainer {
        border: 2px solid {{ section.settings.text_color }};
        background-color: {{ section.settings.inner_section_background_color }};
        color: {{ section.settings.text_color }};
    }

    [data-section-id="{{ section.id }}"] .carousel-item a.theme-button {
        color: {{ section.settings.button_text_color }};
        background-color: {{ section.settings.button_bg_color }};
    }

    [data-section-id="{{ section.id }}"] .jr-product-info-carousel .toggleCheckbox:checked + .toggleContainer div:first-child  {
        color: {{ section.settings.text_color }};
    }
    [data-section-id="{{ section.id }}"] .jr-product-info-carousel .toggleCheckbox+.toggleContainer div:first-child,
    [data-section-id="{{ section.id }}"] .jr-product-info-carousel .toggleCheckbox:checked+.toggleContainer div:last-child {
        color: {{ section.settings.inner_section_background_color }}
    }

    [data-section-id="{{ section.id }}"] .collection-nav li {
        color: {{ section.settings.text_color }};
    }

    [data-section-id="{{ section.id }}"] .collection-nav li:after {
        background-color: {{ section.settings.text_color }};
    }

{% endstyle %}

<div data-section-id="{{ section.id }}">
    <div class="jr-section jr-product-info-carousel page-width" id="shop-now">

    <input type="checkbox" id="toggle" class="toggleCheckbox" />
    <label for="toggle" class='toggleContainer'>
        <div class="gender-toggle active" data-type="men">Shop Men</div>   
        <div class="gender-toggle inactive" data-type="women">Shop Women</div>
    </label>

        <div class="collection-container--outer">

            {% comment %} mens nav {% endcomment %}
            <ul class="collection-nav active" data-type="men">
                
                {% assign found_first_man = false %}
                {% for block in section.blocks %}
                    {% if block.type == "men" %}

                        {% assign first_man = false %}
                        {% if found_first_man == false %}
                            {% assign found_first_man = true %}
                            {% assign first_man = true %}
                        {% endif %}

                        <li {% if first_man == true %} class="active" {% endif %} data-collection="{{ block.settings.collection }}">
                            {% if block.settings.alt_name != blank %}
                                {{ block.settings.alt_name }}
                            {% else %}
                                {{ block.settings.collection }}
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% comment %} womens nav {% endcomment %}
            <ul class="collection-nav" data-type="women">
                {% assign found_first_woman = false %}
                {% for block in section.blocks %}
                    {% if block.type == "women" %}

                        {% assign first_woman = false %}
                        {% if found_first_woman == false %}
                            {% assign found_first_woman = true %}
                            {% assign first_woman = true %}
                        {% endif %}

                        <li {% if first_woman == true %} class="active" {% endif %} data-collection="{{ block.settings.collection }}">
                            {% if block.settings.alt_name != blank %}
                                {{ block.settings.alt_name }}
                            {% else %}
                                {{ block.settings.collection }}
                            {% endif %}
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% comment %} carousel(S) container {% endcomment %}
            <div class="master-carousels-container">
                <div class="carousel men active">     
                    {% assign found_first_man_c = false %}    
                    {% for block in section.blocks %}
                        {% if block.type == "men" %}

                            {% assign first_man_c = false %}
                            {% if found_first_man_c == false %}
                                {% assign found_first_man_c = true %}
                                {% assign first_man_c = true %}
                            {% endif %}

                            <div class="collection-carousel swiper {% if first_man_c == true %} active {% endif %}" data-handle="{{ block.settings.collection }}">
                                <div class="swiper-wrapper">
                                    {% assign available_products = block.settings.collection.products | where: "available" %}
                                    {% for product in available_products %}
                                        <div class="carousel-item swiper-slide">
                                            <div class="gallery">
                                                <img src="{{ product.featured_image | image_url: width: 1000  }}" alt="{{ product.title }}">
                                                <div class="thumb-gallery"></div>
                                            </div>
                                            <div class="info-area">
                                                <h3>{{ product.title }}</h3>
                                                <div class="star-ratings-and-price">
                                                    <div class="price-container">
                                                        <span class="price">{{ product.price | money_without_trailing_zeros }}</span>
                                                        {% if product.compare_at_price and product.compare_at_price > product.price %}
                                                            <span class="compare-price">{{ product.compare_at_price | money_without_trailing_zeros }}</span>
                                                        {% endif %}
                                                    </div>
                                                    <img class="stars" src="https://cdn.shopify.com/s/files/1/0671/1692/5096/files/Stars_2.png?v=1744498831" alt="Review Stars">
                                                </div>
                                                {% assign stripped = product.description | strip_html %}
                                                <div class="description-area">{{ stripped | truncatewords: 60 }}</div>
                                                <div class="activity-tags">
                                                    <span>Activity:</span>
                                                    {% for tag in product.metafields.custom.gd_occasion.value %}
                                                        <span class="activity-tag">{{ tag }}</span>
                                                    {% endfor %}
                                                </div>
                                                <a href="{{ product.url }}" target="_blank" class="theme-button">Shop Now</a> 
                                            </div>
                                        </div>  
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="carousel women">         
                    {% assign found_first_woman_c = false %}
                    {% for block in section.blocks %}
                        {% if block.type == "women" %}

                            {% assign first_woman_c = false %}
                            {% if found_first_woman_c == false %}
                                {% assign found_first_woman_c = true %}
                                {% assign first_woman_c = true %}
                            {% endif %}

                            <div class="collection-carousel swiper {% if found_first_woman_c %} active {% endif %}" data-handle="{{ block.settings.collection }}">
                                {% assign available_products = block.settings.collection.products | where: "available" %}
                                {% for product in available_products limit: 3 %}
                                    <div class="carousel-item swiper-slide">
                                        <div class="gallery">
                                            <img src="{{ product.featured_image | image_url: width: 1000  }}" alt="{{ product.title }}">
                                            <div class="thumb-gallery"></div>
                                        </div>
                                        <div class="info-area">
                                            <h3>{{ product.title }}</h3>
                                            <div class="star-ratings-and-price">
                                                <div class="price-container">
                                                    <span class="price">{{ product.price | money_without_trailing_zeros }}</span>
                                                    {% if product.compare_at_price and product.compare_at_price > product.price %}
                                                        <span class="compare-price">{{ product.compare_at_price | money_without_trailing_zeros }}</span>
                                                    {% endif %}
                                                </div>
                                                <img class="stars" src="https://cdn.shopify.com/s/files/1/0671/1692/5096/files/Stars_2.png?v=1744498831" alt="Review Stars">
                                            </div>
                                            {% assign stripped = product.description | strip_html %}
                                            <div class="description-area">{{ stripped | truncatewords: 60 }}</div>
                                            <div class="activity-tags">
                                                <span>Activity:</span>
                                                {% for tag in product.metafields.custom.gd_occasion.value %}
                                                    <span class="activity-tag">{{ tag }}</span>
                                                {% endfor %}
                                            </div>
                                            <a href="{{ product.url }}" target="_blank" class="theme-button">Shop Now</a> 
                                        </div>
                                    </div>  
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener('DOMContentLoaded', () => {
    
        const section = document.querySelector('[data-section-id="{{ section.id }}"]')
        const allSwipers = document.querySelectorAll('[data-section-id="{{ section.id }}"] .swiper')
        const collectionItems = section.querySelectorAll('.collection-nav li')

        // init swiper carousels

        allSwipers.forEach((swiperContainer) => {
            const swiper = new Swiper(swiperContainer, {
                loop: true,
                speed: 400,
                spaceBetween: 20,
                slidesPerView: 1,
                centeredSlides: true
            })
        })

        section.querySelector('.toggleCheckbox').addEventListener('change', (e) => {

            const active = e.target.closest('.jr-product-info-carousel').querySelector('.gender-toggle.active')
            const inactive = e.target.closest('.jr-product-info-carousel').querySelector('.gender-toggle.inactive')

            active.classList.remove('active')
            active.classList.add('inactive')
            inactive.classList.remove('inactive')
            inactive.classList.add('active')
            
            const activeType = section.querySelector('.gender-toggle.active').getAttribute('data-type')

            section.querySelector('.collection-nav.active').classList.remove('active') 
            section.querySelector('.carousel.active').classList.remove('active')
        
            section.querySelector(`.collection-nav[data-type="${activeType}"]`).classList.add('active')
            section.querySelector(`.carousel.${activeType}`).classList.add('active')

        })

        collectionItems.forEach((item) => {
            item.addEventListener('click', (e) => {
         
                const collection = e.target.getAttribute('data-collection')
                const type = e.target.closest('.collection-nav').getAttribute('data-type')

                section.querySelector(`.carousel.${type}.active .collection-carousel.active`).classList.remove('active')
                section.querySelector(`.carousel.${type}.active .collection-carousel[data-handle="${collection}"]`).classList.add('active')
        
                section.querySelector(`.collection-nav[data-type="${type}"] .active`).classList.remove('active')
                e.target.classList.add('active')

            })

        })

    })
</script>

{% schema %}
{
  "name": "JR Product Info Carousel",
  "settings": [
    {
        "type": "color",
        "id": "outer_background_color",
        "label": "Section Background Color",
        "default": "#ffffff"
    },
    {
        "type": "color",
        "id": "inner_section_background_color",
        "label": "Inner Section Background Color",
        "default": "#003d59"
    },
    {
        "type": "color",
        "id": "text_color",
        "label": "Text Color",
        "default": "#ffffff"
    },
    {
        "type": "color",
        "id": "button_text_color",
        "label": "Button Text Color",
        "default": "#003d59"
    },
    {
        "type": "color",
        "id": "button_bg_color",
        "label": "Button Background Color",
        "default": "#FFFFFF"
    }
  ],
  "blocks": [
    {
        "type": "men",
        "name": "Men's collection",
        "settings": [
            {
                "type": "collection",
                "id": "collection",
                "label": "Collection"
            },
            {
                "type": "text",
                "id": "alt_name",
                "label": "Alternate Name for link (optional)"
            }
        ]
    },
    {
        "type": "women",
        "name": "Women's collection",
        "settings": [
            {
                "type": "collection",
                "id": "collection",
                "label": "Collection"
            },
            {
                "type": "text",
                "id": "alt_name",
                "label": "Alternate Name for link (optional)"
            }
        ]
    }
  ],
  "presets": [
    {
        "name": "JR Product Info Carousel"
    }
  ]
}
{% endschema %}